<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="tadsuite-appcloud-main" version="3.0">
  <display-name>tadsuite-xxx</display-name>
  
  <description>
  <!-- 
  /////////////////////////////////
  
  	使用Servlet3.0的注解特性，web.xml中除了配置display-name、可选配置404、默认页外，不再需要定义任何其它参数
  	但是注意：web-app元素不能有metadata-complete="true"的属性
  
  /////////////////////////////////
   -->
   </description>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  <error-page>
    <error-code>404</error-code>
    <location>/_tadsuite/http_404.html</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/_tadsuite/http_406.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/_tadsuite/http_500.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/_tadsuite/http_500.html</location>
  </error-page>
</web-app>